[Unit]
Description=localhost.run %j tunnel to port %i
After=network.target

[Service]
Type=exec
RestartSec=60
Restart=always
ExecStartPre=/bin/sh -c "echo 'localhost.run ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC3lJnhW1oCXuAYV9IBdcJA+Vx7AHL5S/ZQvV2fhceOAPgO2kNQZla6xvUwoE4iw8lYu3zoE1KtieCU9yInWOVI6W/wFaT/ETH1tn55T2FVsK/zaxPiHZVJGLPPdEEid0vS2p1JDfc9onZ0pNSHLl1QusIOeMUyZ2bUMMLLgw46KOT9S3s/LmxgoJ3PocVUn5rVXz/Dng7Y8jYNe4IFrZOAUsi7hNBa+OYja6ceefpDvNDEJ1BdhbYfGolBdNA7f+FNl0kfaWru4Cblr843wBe2ckO/sNqgeAMXO/qH+SSgQxUXF2AgAw+TGp3yCIyYoOPvOgvcPsQziJLmDbUuQpnH' > ${HOME}/.ssh/localhost.run.known_hosts"
ExecStartPre=-ssh-keygen -q -t rsa -b 2048 -q -N "" -f ${HOME}/.ssh/localhost.run.%j-%i.rsa
ExecStart=/bin/sh -c "ssh -t -o ServerAliveInterval=60 -o UserKnownHostsFile=${HOME}/.ssh/localhost.run.known_hosts -o IdentitiesOnly=true -i \"~/.ssh/localhost.run.%j-%i.rsa\" -R \"%j:80:localhost:%i\" localhost.run '{\"output\": \"json\"}' | while read LINE ; do echo $LINE ; echo $LINE | grep -zoP '\"address\":\s*\K[^\s,]*(?=\s*,)' | sed 's/^\"//;s/\"\W*$//' > /tmp/localhost.run.%j-%i.address; done"
# ExecStart=/bin/sh -c "ssh -t -o UserKnownHostsFile=${HOME}/.ssh/localhost.run.known_hosts -o IdentitiesOnly=true -i \"~/.ssh/localhost.run.%j-%i.rsa\" -R \"%j:80:localhost:%i\" localhost.run -- --output=json | while read LINE ; do echo $LINE ; echo $LINE | grep -zoP '\"address\":\s*\K[^\s,]*(?=\s*,)' | sed 's/^\"//;s/\"\W*$//' > /tmp/localhost.run.%j-%i.address; done"

[Install]
WantedBy=default.target
